/* cennik */
.cennik{
    width: 100%;
    display: block;
    clear: both;
    font-family: "Montserrat";
}
.cennik .container{
    max-width: 1360px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* cennik header */
.cennik__header{
    display: block;
    width: 100%;
    margin: 50px auto 20px;
}
.cennik__title{
    font-family: "Montserrat";
    font-size: 35px;
    color: #292929;
    text-align: left;
    font-weight: 600;
}
.cols--2{
    display: flex;
}
.cols--2 .col--left{
    flex: 3;
    text-align: left;
}
.cols--2 .col--right{
    flex: 1;
    text-align: right;
}

.cennik__header .col--left{
    flex: 1;
}
.cennik__header .col--right{
    flex: 1;
}
.cennik__body .col--left{
    flex: 4;
}
.cennik__body .col--right{
    flex: 1;
}

/* payments */
.payments{
    display: block;
}
.payments__title{
    font-family: "Montserrat";
    font-size: 20px;
    color: #292929;
    font-weight: 600;
}
.payments__list{
    list-style: none;
}
.payments__element{
    display: inline-block;
    padding: 0 5px 0;
    border-right: 1px solid #292929;
}
.payments__element:last-of-type{
    border-right: 0px;
}
.payments__text{
    font-family: "Montserrat";
    font-size: 16px;
    color: #292929;
    font-weight: 500;
}





.cennik__primary{
    display: block;
}
.cennik__table{
    display: block;
    box-shadow: 0px 0px 60px 30px #eeeeee;
    background: #eee;
}
.cennik__element{
    display: block;
    width: 100%;
    margin: 5px auto 5px;
    background: #ffffff;
}
.cennik__element .cennik__el-head{
    cursor: pointer;
    transition: 0.5s;
}
.cennik__el-head .cennik__el-row{
    padding: 20px 34px 20px;
}
.cennik__el-body .cennik__el-row{
    padding: 14px 34px 14px;
    background: #fff;
}
.cennik__el-body .cennik__el-row:nth-child(even){
    background: #f5f5f5;
}


/* no visible */
.cennik__element .cennik__el-body{
    overflow: hidden;
    display: none;
}
.cennik__element .cennik__el-body .cennik__el-row{
    transition: 1s;
    opacity: 0;
    height: 0;
}
.cennik__element .cennik__arrow{
    transition: 1s;
}
/* is-visible */
.cennik__element.is-open .cennik__el-body{
    overflow: hidden;
    display: block;
}
.cennik__element.is-open .cennik__el-body .cennik__el-row{
    transition: 1s;
    opacity: 1;
    height: auto;
}
.cennik__element.is-open .cennik__arrow {
    transform: rotate(90deg);
    transition: 1s;
}






.cennik__element.is-open .cennik__el-head,
.cennik__element:hover .cennik__el-head{
    background: #eafbfe;
}

.cennik__el-head{
    
}
.cennik__el-body{

}


.table__title{
    color: #4877db;
    font-size: 25px;
    font-weight: 600;
    margin: 0;
}
.cennik__element .cennik__arrow{
    font-size: 31px;
}
.table__subtitle{
    color: #292929;
    font-size: 18px;
    font-weight: 200;
    margin: 0;
}
.cennik__price{
    color: #4877db;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
}




.cennik__footer{
    display: block;
}
.cennik__copy{
    padding: 10px;
}
.cennik__copy p,
.ct-cennik__copy p:last-child{
    font-family: "Montserrat";
    font-size: 12px;
    color: #292929;
    font-weight: 200;
    text-align: center;
    margin: 10px auto 10px;
    margin-bottom: 10px!important;
}