/*
 Theme Name:   Stomatolog Child Theme
 Template:     dentist-wp
*/








/* SCSS */

.site{
    display: block;
    position: relative;
    width: 100%;
}
.site__primary{
    min-height: calc(100vh - 120px);
}

/* end SCSS */





.site .ct-content{
    margin-top: 0;
}

.container86{
    max-width: 90%;
    margin: auto;
}
.content86{
    box-shadow: 1.25rem 1.375rem 4.75rem 0rem rgba(0, 0, 0, 0.22) !important;
    max-width:90%;
    margin: 0px auto 50px!important;
    background: #fff;
    padding: 90px 75px 90px;
}
.content85{
    max-width:90%;
    margin: 0px auto 0px!important;
}
.person-certyfikaty{
    margin: 100px auto 80px;
    display:block;
}
.person-title-block{
    margin: 50px 0 80px;
}
.breadcrumbs{
    margin: 30px 0 30px;
    padding-left: 15px;
    padding-right: 15px;
}


/* header */
.header{
    position: relative;
    width: 100%;
    display: block;
    z-index:100;
}
.header__primary{
    padding: 20px;
    background: #ffffff;
}
.header__content{

}




/* FIRST */
.first{
    position: relative;
    clear: both;
    display: block;
    min-width: 100%;
    box-sizing: content-box;
    margin-bottom: 260px;
}
.first__background{
    position: absolute;
    height: 100%;
    width: calc(100% + 40px);
    display: block;
    left: -20px;
    right: -20px;
    top: 0;
    bottom: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    z-index: 1;
}

.first__primary{
    position: relative;
    z-index: 2;
    padding: 128px 0 330px;
}
.first__container{
    padding-left: 15px;
    padding-right: 15px;
}
.first__content{
    max-width: 540px;
    margin: auto;
    margin-left: 30%;
}
.first__cta{
    position: absolute;
    z-index: 10;
    width: 100%;
    bottom: -65px;
}



.first__subtitle{
    font-size: 18px;
    color: #0a0a0a;
    text-align: left;
    font-family: Montserrat;
    font-weight: 700;
    margin-bottom: 18px!important;
    font-style: normal;
    padding-left: 5px;
}
.first__title{
    font-size: 60px;
    text-align: left;
    font-family: Montserrat;
    font-weight: 400;
    font-style: normal;
    color: rgba(27,28,33,1);
    margin-bottom: 24px!important;

}
.first__link{
    font-size: 20px;
    color: #4877db;
    text-align: left;
    font-family: Montserrat;
    font-weight: 700;
    font-style: normal;
    padding-left: 5px;
}






/* CTA */
.cta{
    position: relative;
    background: #fff;
    width: 100%;
    padding: 70px 50px 40px;
    margin: auto;
    max-width: 1200px;
    -webkit-box-shadow: 0px 10px 60px 0px rgba(102,102,102,0.5);
    -moz-box-shadow: 0px 10px 60px 0px rgba(102,102,102,0.5);
    box-shadow: 0px 10px 60px 0px rgba(102,102,102,0.5);
}
.cta__content{
    max-width: 940px;
    margin: auto;
}
.cta__cols{
    display: flex;
}
.cta__col{
    flex:1;
}
.cta__col--1{
    flex: 1;
    min-width: 90px;
    max-width: 90px;
}
.cta__col--2{
    flex: 5;
}
.cta__col--3{
    flex: 4;
}
.cta__col--2 .cta__element{
    padding: 0 30px 0;
}
.cta__element{}

.cta__icon{

}
.cta .h3{
    font-size: 50px;
    color: #0a0a0a;
    line-height: 40px;
    text-align: left;
    font-family: Montserrat;
    font-weight: 700;
    font-style: normal;
}
.cta .h4{
    font-size: 26px;
    text-align: left;
    font-family: Montserrat;
    font-weight: 400;
    font-style: normal;
}
.cta__btn{
    background-color: #cf3578;
    color: #ffffff;
    font-size: 16px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 25px;
    padding-right: 25px;
    font-family: 'Montserrat';
    font-weight: normal;
    display: inline-block;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    max-width: 360px;
}




/* front-contacts */
.front-contacts{

}
.front-contacts h2,
.front-contacts h3{
    position: relative;
}
.front-contacts i{
    position: absolute;
    left: -80px;
}
.services-icons{

}
.services-icons .h6{
    min-height: 50px;
    display: block;
}



/* ct-header */
.ct-site header.ct-header{
    background: #eee;
}


.home.page-id-937 .ct-site .ct-content{
    padding-top: 50px;
}


/* bottom-menu */
.bottom-menu ul{
    list-style: none;
    text-align: center;
}
.bottom-menu li{
    list-style: none;
    display: inline-block;
    border-right: 1px solid #333;;
}
.bottom-menu li:last-child{
    border-right: none;
}
.bottom-menu a{
    padding: 20px;
}




/* social - menu */
.social-menu ul{
    list-style: none;
    text-align: right;
}
.social-menu li{
    list-style: none;
    display: inline-block;
}
.social-menu a{
    margin-left: 20px;
}




.home-contact-title.special-title::before{
    border-color: #ffffff;
}



/* single team person */
.person-img{

}
.person-title{
    font-size: 24px;
    font-family: "Montserrat";
}
.person-name{
    font-size: 42px;
    font-family: "Montserrat";
    font-weight: 700;
}
.person-img-wrap{
    display: block;
    width:100%;
}
.person-meta-wrap{
    display: block;
    width:100%;
}







/*header2__contact*/
.header2__cols{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.header2__col{
    flex: 1;
}
.header2__col--menu{
    max-width: 700px;
}
.header2__col--logo{
    max-width: 320px;
}
.header2__col--contact{
    max-width: 260px;
}


.header2__contact{
    display: block;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    max-width: 260px;
}
.header2__contact .col{
    flex: 1;
}
.header2__contact .col--1{
    max-width: 50px;
    padding: 0;
    text-align: center;
}
.header2__contact .col--2{

}
.header2__contact .col--3{
    max-width: 50px;
    padding: 0;
    text-align: center;
}
.header2__contact .col--2 h3{
    font-size: 21px;
    font-weight: 700;
    font-family: "Montserrat";
    margin: 0 0 0;
}
.header2__contact .col--2 h4{
    font-size: 12px;
    font-weight: 500;
    font-family: "Montserrat";
    margin: 0 0 0;
}

.header2 .header2__col--menu nav ul{
    justify-content: center!important;
    padding: 10px 20px 10px;
}
.header2 .header2__col--menu nav ul li{
    margin: auto;
}
.header2 .header2__col--menu nav ul li a{
    padding: 10px;
    font-weight: 900;
    color: #000;
}


.header2__contact{
    padding: 10px 0 10px;

}


.text-06 .lead{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.el-btn-no-bg,
.el-btn-no-bg button,
.el-btn-no-bg a{
    background: none!important;
    padding: none;
    background-image: none!important;
}

.services-icons .oferta-small-single-txt p{
    margin: 20px auto 80px;
    min-height: 60px;
}
.services-icons .oferta-small-single-txt p .h6{
    font-weight: 700;
    line-height: 28px;
    text-transform: none;
}

.ct-site header.ct-header{
    background: #fff!important;
}
.lek-main{

}

.txticon--time,
.txticon--map,
.txticon--phone,
.txticon--mail{
    position: relative;
}

.txticon--time::before,
.txticon--map::before,
.txticon--phone::before,
.txticon--mail::before{
    content: '';
    height: 34px;
    width: 34px;
    position: absolute;
    top: 10px;
    display: block;
    left: -64px;
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.txticon--time::before{ background-image: url('http://185.243.54.12/projects/orionid/stomatolog2/wp/wp-content/themes/noir/img/icon-time.png'); }
.txticon--map::before{ background-image: url('http://185.243.54.12/projects/orionid/stomatolog2/wp/wp-content/themes/noir/img/icon-mark.png'); }
.txticon--phone::before{ background-image: url('http://185.243.54.12/projects/orionid/stomatolog2/wp/wp-content/themes/noir/img/icon-phone-full.png'); }
.txticon--mail::before{ background-image: url('http://185.243.54.12/projects/orionid/stomatolog2/wp/wp-content/themes/noir/img/icon-mail-full.png'); }





.row-contact *{
    color: #292929;
    font-size: 19px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
.row-contact * .home-contact-h3{
    font-weight: 600;
    font-size: 28px;
    color: #031932;
}
.row-contact * .home-contact-h4{
    font-weight: 600;
    font-size: 25px;
    color: #292929;
}
.row-contact * .txt-disabled{
    color: #8b8b8b;
}






/* contact-block */
.contact-block{
    color: #ffffff;
}

.contact-block h4{
    font-family: "Montserrat";
    font-size: 30px;
    font-weight: 700;
}

.contact-block ul{
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}
.contact-block ul li{
    clear: both;
    overflow: hidden;
    margin: 20px 0 20px;
    display: flex;
    align-items: center;
}

.contact-block .image{
    float: left;
    width: 60px;
}
.contact-block .image img{
    max-width: 100%;
}

.contact-block .text{
    float: left;
}
.contact-block .text .f1{
    font-weight: 500;
    font-size: 18px;
    margin: 0;
    text-transform: none;
}
.contact-block .text .f2{
    font-weight: 700;
    font-size: 30px;
    margin: 0;
}
.contact-block .text .f3{
    font-weight: 500;
    font-size: 19px;
    margin: 0;
    text-transform: none;
}


.xtd-person .xtd-person__info .xtd-person__title{
    opacity:0;
}

.xtd-person:hover .xtd-person__info{
    background: #ffffff;
}

.xtd-person:hover .xtd-person__info .xtd-person__title{
    color: #292929;
    font-size: 35px;
    font-weight: 600;
    opacity:1;
}
.xtd-person:hover .xtd-person__info .xtd-person__title small{
    font-size: 20px;
}

